@model IEnumerable<ProjectShopCMS.DAL.ProductGrops>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("عنوان سر گروه")
        </th>
        <th>
            زیر گروه ها
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="Row_@item.GroupId">
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                @if (item.ProductGrops1.Any())
                {
                    <ul>
                        @foreach (var subGroup in item.ProductGrops1)
                        {
                            <li id="Row_@subGroup.GroupId">
                                @subGroup.GroupTitle
                                <a class="text-warning" onclick="Edit(@subGroup.GroupId)">
                                    <i class="fa fa-edit"></i>
                                </a>

                                <a class="text-danger" onclick="Delete(@subGroup.GroupId)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </li>
                        }
                    </ul>
                }
            </td>
            <td>
                <a class="btn btn-success btn-sm" onclick="Create(@item.GroupId)">افزودن زیر گروه</a>

                <a class="btn btn-warning btn-sm" onclick="Edit(@item.GroupId)">ویرایش سر گروه</a>

                <a class="btn btn-danger btn-sm" onclick="Delete(@item.GroupId)">حذف سر گروه</a>
            </td>
        </tr>
    }

</table>