@model IEnumerable<ProjectShopCMS.DAL.Feature>

@{
    ViewBag.Title = "لیست ویژگی ها";
}

<p>
    <a class="btn btn-success" href="@Url.Action("Create")">افزودن ویژگی</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FetureTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FetureTitle)
        </td>
        <td>
            <a class="btn btn-warning btn-md" href="@Url.Action("Edit",new { id=item.FeatureId})">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger btn-md" href="@Url.Action("Delete",new { id=item.FeatureId })">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
}

</table>
