@model IEnumerable<ProjectShopCMS.DAL.Products>
@using ProjectShopCMS;
@{
    ViewBag.Title = "لیست محصولات";
}

<h2>لیست محصولات</h2>

<p>
    <a class="btn btn-success" href="@Url.Action("Create")">افزودن محصول</a>
</p>
<table class="table" style="border: 1px solid #588735">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="thumbnail" style="width:150px;height:150px;" src="~/Images/ProductsImages/MiniProductImage/@item.ImageName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @item.CreateDate.ConvertToShamsi()
            </td>
            <td>
                <a class="btn btn-primary btn-md " href="">
                    <i class="fa fa-gears"></i>
                </a>
                <a class="btn btn-info btn-md" href="@Url.Action("Gallery",new { id=item.ProductId})">
                    <i class="fa fa-picture-o"></i>
                </a>
                <a class="btn btn-warning btn-md" href="@Url.Action("Edit",new { id=item.ProductId})">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger btn-md" href="@Url.Action("Delete",new { id=item.ProductId })">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>
