@model IEnumerable<ProjectShopCMS.DAL.ViewModel.ShowOrderDetailViewModel>
<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>سبد خرید</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="/">خانه</a></li>
                    <li class="breadcrumb-item active">سبد خرید</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">محصول</th>
                                    <th class="product-price">قیمت</th>
                                    <th class="product-quantity">تعداد</th>
                                    <th class="product-subtotal">جمع</th>
                                    <th class="product-remove">حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="~/Images/ProductsImages/MiniProductImage/@item.ImageName" alt="@item.Title"></a></td>
                                        <td class="product-name" data-title="محصول"><a href="#">@item.Title</a></td>
                                        <td class="product-price" data-title="قیمت">@item.Price.ToString("#,0") تومان</td>
                                        <td class="product-quantity" data-title="تعداد">
                                            <div class="quantity">
                                                @*<input type="button" value="-" class="minus">
        <input type="text" name="quantity" value="@item.Count" title="Qty" class="qty" size="4">
        <input type="button" value="+" class="plus">*@
                                                <input type="button" value="-" class="minus" onclick="AddOrRemoveItemFromOrderList(@item.ProductId, @item.Count-1)">
                                                <input type="number" value="@item.Count" min="1" max="25" step="1" onchange="AddOrRemoveItemFromOrderList(@item.ProductId,$(this).val())" />
                                                <input type="button" value="+" class="plus" onclick="AddOrRemoveItemFromOrderList(@item.ProductId, @item.Count+1)">
                                            </div>
                                        </td>
                                        <td class="product-subtotal" data-title="جمع">@item.sum.ToString("#,0") تومان</td>
                                        <td class="product-remove" data-title="حذف"><a onclick="AddOrRemoveItemFromOrderList(@item.ProductId, 0)"><i class="ti-close"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="px-0">
                                        <div class="row no-gutters align-items-center">

                                            @*<div class="col-lg-4 col-md-6 mb-3 mb-md-0">
                                                    <div class="coupon field_form input-group">
                                                        <input type="text" value="" class="form-control form-control-sm" placeholder="شماره کوپن را وارد کنید...">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-fill-out btn-sm" type="submit">کوپن</button>
                                                        </div>
                                                    </div>
                                                </div>*@
                                            <div class="col-lg-8 col-md-6 text-left text-md-right">
                                                <button class="btn btn-line-fill btn-sm" type="submit">به روز رسانی سبد خرید</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                    <div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6>جمع سبد خرید</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">جمع سبد خرید</td>
                                        <td class="cart_total_amount">@Model.Sum(p => p.sum).ToString("#,0") تومان</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">هزینه ارسال</td>
                                        <td class="cart_total_amount">ارسال رایگان</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">جمع</td>
                                        <td class="cart_total_amount"><strong>@Model.Sum(p => p.sum).ToString("#,0") تومان</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="#" class="btn btn-fill-out">ادامه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->

</div>
<!-- END MAIN CONTENT -->
