@model ProjectShopCMS.DAL.Slider

@{
    ViewBag.Title = "ویرایش";
}

<h2>ویرایش اسلایدر</h2>

<link href="~/Areas/Admin/assets/css/main.css" rel="stylesheet" />
<link href="~/Areas/Admin/assets/css/js-persian-cal.css" rel="stylesheet" />
<script src="~/Areas/Admin/assets/js/js-persian-cal.min.js"></script>
@using (Html.BeginForm("Edit", "sliders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(x => x.SliderId)
        @Html.HiddenFor(x => x.ImageName)
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.DiscountTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiscountTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiscountTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageUpload" />
                @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartSliderDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="pcal1" class="pdate" name="StartSliderDate" value="@Model.StartSliderDate.ToString("yyyy/MM/dd")">
                <a class="pcalBtn" href="#"></a>
                @Html.ValidationMessageFor(model => model.StartSliderDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndSliderDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="pcal2" class="pdate" name="EndSliderDate" value="@Model.EndSliderDate.ToString("yyyy/MM/dd")">
                <a class="pcalBtn" href="#"></a>
                @Html.ValidationMessageFor(model => model.EndSliderDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    <input type="checkbox" name="IsActive" value="true" id="IsActive" /><label for="IsActive"></label>
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ویرایش" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("بازگشت به لیست", "Index")
</div>
@section scripts{
    <script>
        var objCal1 = new AMIB.persianCalendar('pcal1');

        var objCal2 = new AMIB.persianCalendar('pcal2');
    </script>
}

