@model ProjectShopCMS.DAL.ViewModel.ChangePasswordUser

@{
    ViewBag.Title = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_MyProjectTemplate.cshtml";
}

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="page-title">
                    <h1>تغییر رمز عبور</h1>
                </div>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb justify-content-md-end">
                    <li class="breadcrumb-item"><a href="/">خانه</a></li>
                    <li class="breadcrumb-item active">تغییر رمز عبور</li>
                </ol>
            </div>
        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START LOGIN SECTION -->
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>تغییر رمز عبور</h3>
                            </div>
                            <form method="post">
                                @Html.AntiForgeryToken()
                                @if (ViewBag.successmassageChangePassword == true)
                                {
                                    <div class="alert alert-success">
                                        <p>@User.Identity.Name عزیز کلمه عبور شما با موفقیت تغییر یافت</p>
                                    </div>
                                }
                                <div class="form-group">
                                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "لطفا کلمه عبور فعلی را وارد نمایید" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "لطفا کلمه عبور جدید را وارد نمایید" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control", placeholder = "لطفا تکرار کلمه عبور جدید را وارد نمایید" } })
                                    @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block">ارسال</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGIN SECTION -->

</div>
<!-- END MAIN CONTENT -->